* {
    margin: 0;
    padding: 0;
}

.logo img {
    width: 50px;
}

nav {
    background-color: #717171;
    height: 50px;
    padding: 10px;
    border-bottom: 2px solid #494949;
    display: flex;
    justify-content: center;
}

.tamanho {
    width: 80%;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li {
    color: #fff;
    margin: 0;
    margin: 0 50px;
    list-style: none;
}

li:hover {
    padding-bottom: 10px;
    margin-bottom: -12px;
    border-bottom: 2px solid #FFA800;
}

#drop-down-content li {
    margin: 30px 50px;
}

#drop-down-content li:hover {
    padding-bottom: 10px;
    margin-bottom: -12px;
    border-bottom: 2px solid #FFA800;
}

a {
    text-decoration: none;
    color: #fff;
}

#drop-down-content {
    display: none;
    position: absolute;
    margin-top: 12px;
    padding: 100px 0;
    width: 100%;
    background-color: #717171;
}

#drop-down:hover #drop-down-content {
    display: block;
}