.logo img {
    width: 43px;
    padding-right: 50px;
    margin-top: 5px;
}

nav {
    background-color: #717171;
    height: 60px;
    border-bottom: 5px solid #494949;
    display: flex;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li {
    list-style: none;
}

li a {
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    margin: 5px;
}

li a:hover {
    border-bottom: 2px solid #FFA800;
    margin-bottom: -2px;
}

#drop-down-content {
    display: none;
    position: absolute;
    margin-top: 17px;
    padding: 15px 0;
    background-color: #494949;
}

#drop-down-content li {
    padding: 15px 0;
    margin: 5px; 
}

#drop-down:hover #drop-down-content {
    display: block;
}